.footer {
  position: absolute;
  width: 1292px;
  height: 125px;
  left: 25px;
  top: 722px;

  background: rgba(51, 55, 59, 0.37);
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 15px;
}
.footer_image {
  position: relative;
  left: 101px;
  top: 32px;
}
.f_title {
  position: absolute;
  left: 163px;
  top: 37px;
  width: max-content;

  /* Bold/14px */

  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */

  color: #ffffff;
}
.f_subtitle {
  position: absolute;
  left: 163px;
  top: 57px;

  /* Bold/10px */

  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 120%;
  /* identical to box height, or 12px */

  color: rgba(255, 255, 255, 0.44);
}
.f_slider {
  position: absolute;
  left: 270px;
  right: 21.13%;
  top: 65.6%;
  bottom: 31.2%;

  /* background: rgba(255, 255, 255, 0.04); */
  background: #facd66;
  border-radius: 50px;
}
.f_volume {
  position: absolute;
  left: 82.51%;
  right: 5.11%;
  top: 41.6%;
  bottom: 56%;

  background: #facd66;
  border-radius: 42px;
}
.f_volumebutton {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 1042px;
  top: 44px;
}
.button_container {
  position: absolute;
  display: flex;
  left: 39.94%;
  right: 40.17%;
  top: 20%;
  bottom: 59.56%;
  /* background: red; */
}
.footer_icon {
  display: flex;
  width: 16px;
  height: 16px;
  margin-left: 20px;
}
