@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow: hidden;
}
button {
  cursor: pointer;
}
/* ---------- */
.btnContainer {
  left: 516px;
  top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  /* flex-grow: 1; */
}

.btn_play {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #0e0d0d;
  cursor: pointer;
}

.btn_stop {
  height: 20px;
  width: 15px;
  border-left: 10px solid rgb(24, 23, 23);
  border-right: 10px solid rgb(26, 24, 24);
  cursor: pointer;
}



