.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background: black;
}
.home {
  position: relative;
  /* padding-left: 100px; */
  width: 1280px;
  height: 100vh;
  left: 50px;
  overflow:visible;
  background: #1d2123;
}

.nav {
  position: fixed;
  width: 1122px;
  height: 73px;
  left: 98px;
  top: 0px;
  border-radius: 5px;

  background: none;
}
.menu_bar {
  position: absolute;
  display: none;
  left: 23px;
  top: 30px;
  width: 24px;
  height: 24px;
  color: #efeee0;
}

.minput {
  position: absolute;
  width: max-content;
  height: 25px;
  top: 25px;
  outline: none;
  left: 65px;
  padding-left: 9px;
  background-color: inherit;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  color: rgba(255, 255, 255, 0.25);
}
.search {
  position: absolute;
  left: 39px;
  top: 30px;
  color: rgba(255, 255, 255, 0.25);
}
.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 98px;
  background-color: inherit;
}
.logo {
  position: absolute;
  width: 34px;
  height: 34px;
  left: 27px;
  top: 23px;
}
.side_parent {
  position: absolute;
  width: 52px;
  height: 230px;
  left: 20px;
  top: 96px;

  /* dark-alt */

  background: #090a0a;
  border-radius: 32px;
}
.side_personal {
  position: absolute;
  width: 52px;
  height: 127px;
  left: 20px;
  top: 346px;

  /* dark-alt */

  background: #090a0a;
  border-radius: 32px;
}

.smenu {
  position: absolute;
  left: 38.27;
  top: 26.83;
  outline: none;
  /* secondary */

  /* background: #facd66; */
  justify-self: start;
  /* navicon-active-shadow */

  /* box-shadow: 0px 0px 11px rgba(250, 205, 102, 0.25); */
}
.icon {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 22px;
  height: 22px;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  top: 20px;
  margin-top: 20px;
  /* padding-top: 7px; */
  /* background: #c4c0c0; */
}
.hcontainer {
  position: absolute;
  width: 686px;
  height: 373px;
  left: 96px;
  top: 96px;

  background: #609eaf;
  border-radius: 40px;
}
.hhead {
  position: absolute;
  width: 92px;
  height: 14px;
  left: 45px;
  top: 38px;

  /* Regular/12px */

  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  /* or 14px */

  color: #ffffff;
}
.hhead2 {
  position: absolute;
  width: 167px;
  height: 42px;
  left: 45px;
  top: 137px;
  /* Bold/35px */

  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 120%;
  /* identical to box height, or 42px */

  color: #ffffff;
}
.htitle {
  position: absolute;
  width: 276px;
  height: 51px;
  left: 45px;
  top: 185px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  /* or 17px */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.hlikes {
  position: absolute;
  width: 59px;
  height: 17px;
  left: 99px;
  top: 0px;
  /* Regular/14px */

  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */

  color: #ffffff;
}
.heartlike {
  position: absolute;
  left: 76.33px;
  top: 3.67px;
  cursor: pointer;
  /* background: #ffffff; */
}
.esma {
  position: absolute;
  /* width: 380.67px; */
  /* height: 571px; */
  left: 343px;
  top: 2px;
}
.htitle2 {
  position: absolute;
  width: 123px;
  height: 29px;
  left: 800px;
  top: 96px;

  /* Bold/24px */

  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */

  /* light */

  color: #efeee0;
}
.hcontainer3 {
  position: absolute;
  width: 430px;
  height: 356px;
  left: 800px;
  top: 139px;
  background: inherit;
}
.hmusic {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 417px;
  height: 96px;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  top: 0px;
  margin-top: 20px;
  background: #1a1e1f;
  border-radius: 20px;
}
.hmusicin {
  position: absolute;
  width: 63px;
  height: 63px;
  left: 17px;
  top: 17px;

  /* background: url(), #d9d9d9; */
  border-radius: 10px;
}
.rectangle17 {
  position: absolute;
  left: 17px;
  top: 17px;

  border-radius: 10px;
}
.rectitle {
  position: absolute;
  width: 144px;
  height: 20px;
  left: 94px;
  top: 17px;

  /* Regular/17px */

  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  /* or 20px */

  color: #ffffff;
}
.recname {
  position: absolute;
  width: 79px;
  height: 14px;
  left: 94px;
  top: 41px;

  /* Regular/12px */

  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  /* or 14px */

  color: rgba(255, 255, 255, 0.5);
}
.vector {
  position: absolute;
  left: 280px;
  right: -62.63%;
  top: 42px;

  transform: rotate(-6.5deg);
}
.rectime {
  position: absolute;
  width: 37px;
  height: 14px;
  left: 94px;
  top: 63px;

  /* Regular/12px */

  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  /* or 14px */

  color: #ffffff;
}
.reccircle {
  box-sizing: border-box;

  position: absolute;
  width: 37px;
  height: 37px;
  left: 359px;
  top: 30px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.11);
}
.stroke {
  position: absolute;
  left: 10px;
  top: 10px;
}
.ge {
  display: grid;
  grid-template-rows: auto;
}

.htitle3 {
  position: absolute;
  width: 160px;
  height: 29px;
  left: 96px;
  top: 512px;

  /* Bold/24px */

  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 29px */

  /* light */

  color: #efeee0;
}
.htitle4 {
  position: absolute;
  width: fit-content;
  height: 29px;
  left: 96px;
  top: 750px;

  /* Bold/24px */

  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 29px */

  /* light */

  color: #efeee0;
}
.hcategory {
  position: absolute;
  display: flex;
  width: 1000px;
  height: 175px;
  left: 56px;
  top: 544px;

  background: inherit;
  border-radius: 25px;
}
.hcategoryin {
  position: relative;
  left: 0px;
  top: 10px;
  margin-left: 30px;
  width: 128px;
  height: 128px;

  /* background: red; */
  border-radius: 25px;
}
.hcategoryintitle {
  position: absolute;
  margin-top: 3px;
  padding-left: 3px;
  width: 85px;
  height: 15px;

  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: white;
}
.hcategoryinsub_title {
  position: absolute;
  margin-top: 20px;
  padding-left: 3px;
  width: 85px;
  height: 15px;

  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: white;
}
.hcategory2 {
  position: absolute;
  display: flex;
  width: 1000px;
  height: 175px;
  left: 56px;
  top: 785px;

  background: inherit;
  border-radius: 25px;
}
.likescontainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* padding: 0px; */
  background: inherit;
  width: 158px;
  top: 312px;
  left: 54px;
  height: 20px;
}
.phot {
  position: absolute;
  display: flex;
  z-index: 9;
  left: 0px;
}
/* .phot img {
  border-radius: 50%;
  width: 13px;
  height: 13px;
  border: 1px solid white;
  opacity: 0.8;
} */
/* .phot img:not(:nth-child(1)) {
  margin-left: -0.6rem;
} */

@media screen and (max-width: 414px) {
  .home {
    /* position: relative; */
    width: 14px;
    height: 1223px;

    /* dark */

    background: #1d2123;
  }
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 253px;

    position: absolute;
    width: 361px;
    height: 34px;
    left: 23px;
    top: 25px;
  }
  .search {
    left: 357.75;
    top: 30.75;
    width: 20px;
    height: 20px;
  }
  .side_parent,
  .side_personal {
    display: none;
  }

  .logo {
    left: 67px;
    top: 25px;
  }
  /* .hcontainer {
    width: 367px;
    height: 503px;
    left: 23px;
  }
  .vector {
    display: none;
  }
  .hhead {
    width: 92px;
    height: 14px;
    left: 33px;
    top: 32px;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
  } */
  .hcontainer {
    display: none;
  }
  .hcategory {
    display: none;
  }
  .hcategory2 {
    display: none;
  }
}
